p {
    font-size: 50px;
}
p {
    font-size: 20px;
}

#p3 {
    border: 10px red solid;
    padding: 0px 100px 50px 0px;
    margin: 40px 15px 20px 50px;
}

*{
    color: purple;
}

/*Yorum kodu*/



